@font-face {
  font-family: "Orkney-Bold", sans-serif;
  src: url("../fonts/Orkney-Bold.woff2") format("woff2"),
    url("../fonts/Orkney-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Orkney-Regular", sans-serif;
  src: url("../fonts/Orkney-Regular.woff2") format("woff2"),
    url("../fonts/Orkney-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?21ollp');
  src:  url('../fonts/icomoon.eot?21ollp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?21ollp') format('truetype'),
    url('../fonts/icomoon.woff?21ollp') format('woff'),
    url('../fonts/icomoon.svg?21ollp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock-o:before {
  content: "\f017";
}
.icon-calendar:before {
  content: "\f073";
}
